/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* Apply default font to all nodes */
* {
    -fx-font-family: "Avenir Heavy";
    -fx-font-size: 13px;
}

.small-label {
    -fx-font-size: 13px;
}

.large-label {
    -fx-font-size: 30px;
}